<h1>What? You mean you want to change the story?</h1>
<p> That does not seem fair...</p>
<form action="/stories/<%=@story.id%>" method="POST">
<input type="hidden" name='_method' value="patch">
<h2>Edit the details of your tale:</h2></br>

<label for= “title”>Title:</label>
<p><input type="text" name="title" id="title" value ="<%=@story.title%>"></p></br>

<label for= “num_of_players”>Number of Players:</label>
<p><input type="text" name="num_of_players" id="num_of_players" value ="<%=@story.num_of_players%>" ></p></br>

<label for= “story_type”>Type of Campaign:</label>
<p><input type="text" name="story_type" id="story_type" value ="<%=@story.story_type%>"></p></br>

<label for= “setting”>Setting:</label>
<p><input type="text" name="setting" id="setting" value ="<%=@story.setting%>"></p></br>

<label for= “monsters”>Monsters:</label>
<p><input type="text" name="monsters" id="monsters" value ="<%=@story.monsters%>"></p></br>

<label for= “final_boss”>Final Boss:</label>
<p><input type="final_boss" name="final_boss" id="final_boss" value ="<%=@story.final_boss%>"></p></br>

<label for= “rewards”>Rewards:</label>
<p><input type="rewards" name="rewards" id="rewards" value ="<%=@story.rewards%>"></p></br>

<label for= “story_findables”>Findables:</label>
<p><input type="story_findables" name="story_findables" id="story_findables" value ="<%=@story.story_findables%>"></p></br>

<label for= “summary”>Summary:</label>
<p>
<textarea type="text" name="summary" id="summary" value ="<%=@story.summary%>" rows="10" cols="50"><%=@story.summary%></textarea>
</p></br>

<label for= “story_link”>Link to the Story:</label>
<p><input type="story_link" name="story_link" id="story_link" value ="<%=@story.story_link%>"></p></br>

<input type='submit' id='submit' value='Edit Story!'>
</form>

<footer class="branding">
    <% if dm_logged_in? %>
    <small>Welcome    <%= current_dm.username %>      <a href="/logout">Log Out</a></small>
    <% else %>
      <small><a href="/">Log In</a></small>
    <% end %>
    <div class="div-b">
    <small>&copy; 2020 <strong>Sophia White</strong></small>
    </div>
</footer>


