<h1><%=@story.title%></h1>

<label for= “title”>Title:</label>
<p>
<%=@story.title%>
</p>

<label for= “num_of_players”>Number of Players:</label>
<p>
<%=@story.num_of_players%>
</p>

<label for= “type”>Type of Campaign:</label>
<p>
<%=@story.type%>
</p>

<label for= “setting”>Setting:</label>
<p>
<%=@story.setting%>
</p>

<label for= “monsters”>Monsters:</label>
<p>
<%=@story.monsters%>
</p>

<label for= “final_boss”>Final Boss:</label>
<p>
<%=@story.final_boss%>
</p>

<label for= “rewards”>Rewards:</label>
<p>
<%=@story.rewards%>
</p>

<label for= “findables”>Findables:</label>
<p>
<%=@story.findables%>
</p>

<label for= “summary”>Summary:</label>
<p>
<%=@story.summary%>
</p>

<label for= “story_link”>Link to the Story:</label>
<p>
<%=@story.story_link%>
</p>


