<!DOCTYPE html>
<h1><%=@story.title%></h1>

<label for= “title”>Title:</label>
<p>
<%=@story.title%>
</p>

<label for= “num_of_players”>Number of Players:</label>
<p>
<%=@story.num_of_players%>
</p>

<label for= “story_type”>Type of Campaign:</label>
<p>
<%=@story.story_type%>
</p>

<label for= “setting”>Setting:</label>
<p>
<%=@story.setting%>
</p>

<label for= “monsters”>Monsters:</label>
<p>
<%=@story.monsters%>
</p>

<label for= “final_boss”>Final Boss:</label>
<p>
<%=@story.final_boss%>
</p>

<label for= “rewards”>Rewards:</label>
<p>
<%=@story.rewards%>
</p>

<label for= “story_findables”>Findables:</label>
<p>
<%=@story.story_findables%>
</p>

<label for= “summary”>Summary:</label>
<p>
<%=@story.summary%>
</p>

<label for= “story_link”>Link to the Story:</label>
<p>
<%=@story.story_link%>
</p>
<br></br>
<a href="/stories/<%=@story.id%>/edit">Need to change something? Click here!</a>
<br></br>
<a href="/stories">Click here to see all of your stories!</a>
<br></br>
<a href="/stories/new">Create a new story!</a>
<br></br>

<h6>Want to delete this story?</h6>
<p>WARNING. This action is irreversible.</p>
<form action="/stories/<%=@story.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value ="Delete Story">
</form>

<footer class="branding">
    <% if dm_logged_in? %>
    <small>Welcome    <%= current_dm.username %>      <a href="/logout">Log Out</a></small>
    <% else %>
      <small><a href="/">Log In</a></small>
    <% end %>
    <div class="div-b">
    <small>&copy; 2020 <strong>Sophia White</strong></small>
    </div>
</footer>

</html>
