<h1><%=@story.title%></h1>

<label for= “title”>Title:</label>
<p>
<%=@story.title%>
</p>

<label for= “num_of_players”>Number of Players:</label>
<p>
<%=@story.num_of_players%>
</p>

<label for= “story_type”>Type of Campaign:</label>
<p>
<%=@story.story_type%>
</p>

<label for= “setting”>Setting:</label>
<p>
<%=@story.setting%>
</p>

<label for= “monsters”>Monsters:</label>
<p>
<%=@story.monsters%>
</p>

<label for= “final_boss”>Final Boss:</label>
<p>
<%=@story.final_boss%>
</p>

<label for= “rewards”>Rewards:</label>
<p>
<%=@story.rewards%>
</p>

<label for= “findables”>Findables:</label>
<p>
<%=@story.findables%>
</p>

<label for= “summary”>Summary:</label>
<p>
<%=@story.summary%>
</p>

<label for= “story_link”>Link to the Story:</label>
<p>
<a href="<%=@story.story_link%>"</a>
</p>

<a href="/stories/<%=@story.id%>/edit">Need to change something? Click here!</a></br>
<a href="/stories">Click here to see all of your stories</a></br>

<h6>Want to delete this story?</h6>
<p>WARNING. This action is irreversible.</p>
<form action="/stories/<%=@story.id%>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value ="Delete Story">
</form>
