<h1> Ahhh... I see... you want to change your character then?</h1>
<p> you better not be cheating.... </p>
<form action="/characters/<%=@character.id%>" method="POST">
<input type="hidden" name='_method' value="patch">

<h2>Well? Get it on with it then! Change what you will!</h2></br>

<label for= “character_name”>Character Name:</label>
<p><input type="text" name="character_name" id="character_name" value ="<%=@character.character_name%>"></p></br>

<label for= “character_class”>Class:</label>
<p><input type="text" name="character_class" id="character_class" value ="<%=@character.character_class%>"></p></br>

<label for= “level”>Level:</label>
<p><input type="text" name="level" id="level" value ="<%=@character.level%>"></p></br>

<label for= “race”>Race:</label>
<p><input type="text" name="race" id="race" value ="<%=@character.race%>"></p></br>

<label for= “background”>Background:</label>
<p><input type="text" name="background" id="background" value ="<%=@character.background%>"></p></br>

<label for= “strength”>Strength Stat:</label>
<p><input type="text" name="strength" id="strength" value ="<%=@character.strength%>"></p></br>

<label for= "dexterity">Dexterity Stat:</label>
<p><input type="text" name="dexterity" id="dexterity" value ="<%=@character.dexterity%>"></p></br>

<label for= “constitution”>Constitution Stat:</label>
<p><input type="text" name="constitution" id="constitution" value ="<%=@character.constitution%>"></p></br>

<label for= "intelligence">Intelligence Stat:</label>
<p><input type="text" name="intelligence" id="intelligence" value ="<%=@character.intelligence%>"></p></br>

<label for= “wisdom”>Wisdom Stat:</label>
<p><input type="text" name="wisdom" id="wisdom" value ="<%=@character.wisdom%>"></p></br>

<label for= “charisma”>Charisma Stat:</label>
<p><input type="text" name="charisma" id="charisma" value ="<%=@character.charisma%>"></p></br>

<label for= “character_story”>Character Story:</label>
<p>
<textarea type="text" name="character_story" id="character_story" value ="<%=@character.character_story%>" rows="10" cols="50">"<%=@character.character_story%>"</textarea>
</p></br>
<input type='submit' id='submit' value='Edit Character!'>
</form>